@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}
:root {
  --bg-color-primary: #1f242d;
  --bg-color-secondary: #2b3341;
  --main-color: #0ef;
  --text-color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  background: var(--bg-color-primary);
  color: var(--text-color);
  /* max-width: 1650px;
  margin: 0 auto; */
}

/* --------style to header starts here--------- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: var(--bg-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.logo {
  font-family: 'Lobster', cursive;
  font-size: 2.5rem;
  color: var(--text-color);
  letter-spacing: 3px;
  font-weight: 600;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}
.navbar a {
  display: inline-block;
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: 0.3s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}
/* --------style to header ends here---------- */

/* -----style to Home components starts here ----*/
section {
  min-height: 100vh;
  padding: 7rem 7% 2rem;
}
.home-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.home-image img {
  width: 30vw;
  opacity: 0;
  animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 0.5s, 2s;
}
/* .home-contents {
  opacity: 0;
  animation: slideTop 1s ease forwards;
} */
.home-contents h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
.home-contents h3:nth-of-type(2) {
  margin-bottom: 2rem;
}
span {
  color: var(--main-color);
}
.home-contents h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-contents p {
  font-size: 2rem;
}
.home-contents p span {
  color: #0ef;
}
.social-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2.5rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
}
.social-icon a:hover {
  background: var(--main-color);
  color: var(--bg-color-secondary);
  box-shadow: 0 0 1rem var(--main-color);
  transition: 0.5s ease;
}
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  color: var(--bg-color-secondary);
  font-weight: 600;
  transition: 0.5s ease;
}
.btn:hover {
  box-shadow: none;
}
/* -----style to Home components ends here ----*/

/* -----style to About components starts here ----*/
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color-secondary);
}
.about-img img {
  width: 30vw;
  /* opacity: 0;
  animation: slideRight 1s ease forwards; */
}
.heading {
  text-align: center;
  font-size: 4.5rem;
}
.about-container h2 {
  text-align: left;
  line-height: 1.2;
}
.about-container h3 {
  font-size: 2.6rem;
  margin-bottom: 4rem;
}
.about-container p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  text-align: justify;
}
/* -----style to About components ends here ----*/

/* -----style to Services components starts here ----*/
.service-container h2 {
  margin-bottom: 5rem;
  margin-top: 2rem;
}
.services-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.services-box .service {
  background: var(--bg-color-secondary);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid var(--bg-color-primary);
  transition: 0.5s ease;
}
.services-box .service:hover {
  border-color: var(--main-color);
  transform: scale(1.05);
}
.service i {
  font-size: 5rem;
  color: var(--main-color);
}
.service h3 {
  font-size: 2.6rem;
}
.service p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
/* -----style to Services components ends here ----*/

/* -----style to Portfolio components Starts here ----*/
.portfolio-container {
  background: var(--bg-color-secondary);
}
.portfolio-container h2 {
  font-size: 4rem;
  margin: 3rem 0;
}
.portfolio-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio-box .portfolio {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color-primary);
  overflow: hidden;
  display: flex;
}
.portfolio img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio:hover img {
  transform: scale(1.1);
}
.portfolio .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), var(--main-color));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 2rem;
}
.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: var(--bg-color-secondary);
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 2rem;
  color: var(--main-color);
}
/* ------style to Portfolio components ends here------*/

/* -----style to Portfolio components Starts here ----*/
.contact-container {
  margin-bottom: 3rem;
}
.contact-container form {
  max-width: 70rem;
  margin: 1rem auto 3rem;
  text-align: center;
}
.contact-container form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-container form .input-box input,
.contact-container form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color-secondary);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact-container form .input-box input {
  width: 49%;
}
.contact-container form textarea {
  resize: none;
}
.contact-container form .btn {
  margin-top: 2rem;
  cursor: pointer;
}
/* ------style to skills components ends here------*/

/* ------style to Footer components starts here------*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: var(--bg-color-secondary);
}
.footer-text p {
  font-size: 1.6rem;
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--main-color);
  border-radius: 0.8rem;
  transition: 0.5s ease;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--bg-color-secondary);
}
/* ------style to Footer components ends here------*/

/*--------- Responsiveness --------------*/
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .home-contents h1 {
    font-size: 5.2rem;
  }
  .service-container h2 {
    margin-top: 2rem;
  }
  .service h3 {
    font-size: 2.4rem;
  }
  .portfolio-container h2 {
    margin: 3rem 0;
  }
  .contact-container h2 {
    margin: 2rem 0;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  .home-contents h1 {
    font-size: 4.8rem;
  }
  .home-contents h3 {
    font-size: 2.8rem;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .heading {
    font-size: 4rem;
  }
  .service-container {
    padding-bottom: 7rem;
  }
  .portfolio-container {
    padding-bottom: 7rem;
  }
  .contact-container {
    min-height: auto;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background-color: var(--bg-color-primary);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home-container {
    flex-direction: column;
    justify-content: center;
  }
  .home-image img {
    width: 70vw;
    margin-bottom: 7rem;
  }
  .home-contents h3 {
    font-size: 2.4rem;
  }
  .home-contents h1 {
    font-size: 4.5rem;
  }
  .about-container {
    flex-direction: column;
  }
  .about-container img {
    width: 70vw;
    margin-bottom: 7rem;
  }
  .service-container h2 {
    margin-bottom: 3rem;
  }
  .portfolio-container h2 {
    margin-bottom: 3rem;
  }
  .portfolio-box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 617px) {
  .portfolio-box {
    grid-template-columns: 1fr;
  }
  .portfolio-layer h4 {
    font-size: 3rem;
  }
  .portfolio-layer p {
    font-size: 2rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home-contents p {
    font-size: 1.8rem;
  }
  .contact-container form .input-box input {
    width: 100%;
  }
}
@media (max-width: 365px) {
  .home-image img {
    width: 80vw;
  }
  .about-img img {
    width: 80vw;
  }
  .footer {
    flex-direction: column-reverse;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}

/* KEYFRAME ANIMATION HERE  */
@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
