@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #282e3a;
  color: #fff;
  max-width: 1650px;
  margin: 0 auto;
}

/* --------style to header starts here--------- */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 8%;
    background: #1f242d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
  .logo {
    font-family: 'Lobster', cursive;    
    font-size: 25px;
    color: #fff;
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: 500;
    opacity: 0;
    animation: slideRight 1s ease forwards;
  }
  .navbar a {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  .navbar a:hover,
  .navbar a.active {
  color: #0ef;
}
/* --------style to header ends here---------- */

/* -----style to Home components starts here ----*/
.home-container {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 80px 8%;
  }
  .home-contents {
    max-width: 700px;
  }
  .home-contents h3 {
    font-size: 28px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
  }
  .home-contents h3:nth-of-type(2) {
    margin-bottom: 20px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
  }
  .home-contents h3 span {
    color: #0ef;
  }
  .home-contents h1 {
    font-size: 42px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
  }
  .home-contents p {
    font-size: 22px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
  }
  .home-contents p span{
  color:#0ef
  }
  .social-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: 0.5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
  }
  .social-icon a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 15px #0ef;
  }
  .home-container .btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    color: #1f242d;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
  }
  .home-image img {
    max-width: 350px;
    opacity: 0;
    animation: zoomIn 1s ease forwards,floatImage 4s ease-in-out infinite;
    animation-delay: 2s,3s;
  }
  /* -----style to Home components ends here ----*/

/* Responsiveness */
@media screen and (max-width: 480px) {
    .header{
      padding: 10px 5%;
    }
     .logo{
      font-size: 16px;
     }
     .navbar a{
      font-size: 14px;
      margin-left: 8px;
     }
     .home-container{
        margin-top: 45px;
        flex-direction: column;
        padding: 60px 5%;
     }
     .home-contents{
        width: 100%;
     }
     .home-image img{
        max-width: 200px;
     }
     .home-contents h3{
        font-size: 18px;
     }
     .home-contents h1{
        font-size: 24px;
        margin: 5px 0;
     }
     .home-contents p{
        font-size: 14px;
     }
     .social-icon a{
        width: 22px;
        height: 22px;
        font-size: 15px;
        border: 1px solid #0ef;
       }
    .social-icon a:hover{
        box-shadow: 0 0 10px #0ef;
    }
    .home-contents .btn{
        padding: 8px 14px;
        font-size: 12px;
        border-radius: 20px;
        box-shadow: 0 0 8px #0ef;
       }
    }

@media screen and (min-width:481px) and (max-width: 768px) {
     .navbar a{
      font-size: 15px;
      margin-left: 18px;
     }
     .home-container{
        margin-top: 58px;
        flex-direction: column;
     }
     .home-contents{
        width: 100%;
     }
     .home-image img{
        max-width: 250px;
     }
     .home-contents h3{
        font-size: 22px;
     }
     .home-contents h1{
        font-size: 32px;
        margin: 8px 0;
     }
     .home-contents p{
        font-size: 18px;
     }
     .social-icon a{
        width: 30px;
        height: 30px;
        font-size: 17px;
       }
       .home-contents .btn{
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 20px;
        box-shadow: 0 0 8px #0ef;
       }
    }
@media screen and (min-width:769px) and (max-width: 1024px) {
     .home-container{
        margin-top: 70px;
     }
     .home-contents{
        width: 100%;
     }
     .home-image img{
        max-width: 250px;
     }
     .home-contents h3{
        font-size: 22px;
     }
     .home-contents h1{
        font-size: 32px;
        margin: 8px 0;
     }
     .home-contents p{
        font-size: 18px;
     }
     .social-icon a{
        width: 30px;
        height: 30px;
        font-size: 17px;
       }
       .home-contents .btn{
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 20px;
        box-shadow: 0 0 8px #0ef;
       }
    }

    /* KEYFRAME ANIMATION HERE  */
@keyframes slideRight {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideLeft {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideTop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slideBottom {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes floatImage {
    0% {
      transform: translateY(0)
    }
    50% {
      transform: translateY(-24px)
    }
    100% {
      transform: translateY(0)
    }
  }